<%= form_with(model: post, url: form_url) do |f| %>

  <!-- 画像 --> 
  <div class="form-group row">
    <label for="image" class="col-sm-4 col-form-label">写真アップロード</label>
    <div class="col-sm-8 col-form">
      <%= f.file_field :post_image, accept: "image/*", class: "form-control-file" %>
    </div>
  </div>

  <!-- タイトル --> 
  <div class="form-group row">
    <label for"title", class="col-sm-4 col-form-label">タイトル</label>
    <div class="col-sm-7">
      <%= f.text_field :title,placeholder:"近所を散歩", class:"form-control" %>
    </div>
  </div>

  <!-- 詳細 --> 
  <div class = "form-groupe row">
    <label for"contents", class="col-sm-4 col-form-label">投稿詳細</label><br>
    <div class="col-sm-7">
      <%= f.text_area :contents, placeholder:"行ったことのない喫茶店を発見！", class:"form-control" %><br>
    </div>
  </div>

  <!-- 訪問場所 --> 
  <div class="form-group row">
    <label for"address", class="col-sm-4 col-form-label">行った場所（住所）</label>
    <div class="col-sm-7">
      <%= f.text_field :address,placeholder:"レトロジア", class:"form-control" %>
    </div>
  </div>

  <!-- 投稿時間 -->
  <div class="form-group row">
    <label for"visited_at", class="col-sm-4 col-form-label">訪問日時</label>
    <div class="col-sm-7">
      <%= f.datetime_field :visited_at, class:"form-control" %>
    </div>
  </div>

  <!-- タグ入力 --> 
  <div class="form-group row">
    <label for"visited_at", class="col-sm-4 col-form-label">タグ（カンマ区切り）</label>
    <div class="col-sm-7">
      <%
        #= f.text_field :tags,placeholder:"例: 散歩, 喫茶店, 近所", class:"form-control" 
      %>
    </div>
  </div>

  <!-- 公開設定 --> 
  <div class="form-group row">
    <label for"visited_at", class="col-sm-4 col-form-label">公開範囲</label>
    <div class="col-sm-7">
      <%= f.collection_radio_buttons :visibility, Post.posts_visibility_ranges_i18n, :first , :last  %>
    </div>
  </div>

  <!-- 投稿ボタン --> 
  <div class="form-group row justify-content-center">
    <%= f.submit submit_text, class: "btn btn-sm btn-success" %>
  </div>
<% end %>