<%= stylesheet_link_tag 'index_feed_styles' %>

<div class="container">
	<div class="row views">

    <div class="col-2 sidebar"> 
      <!-- サイドバー -->  
      <%= render 'sidebar' %>
    </div>

    <div class="col-9 main-content"> 
    <!--メイン-->
      <br>
      <div class="flash">
              <%= flash[:notice] %>
      </div>
      <% if user_signed_in? %>
        <div class="row search_form">
          <%= form_with url: search_path, local: true, method: :get, class: "form-inline" do |f| %>
            <div class="col-sm-7 mb-6 search_form_groupe">
              <%= f.text_field :word, class: "form-control", placeholder: "キーワードを入力してください", size:40;%>
            </div>
            <div class="col-sm-2 mb-2 search_form_groupe">
              <%= f.collection_select :range, ["User", "Post"], :to_s, :humanize, { prompt: 'Select' }, { class: "form-control" } %>
            </div>
            <div class="col-sm-2 search_form_groupe">
              <%= f.submit "Search", class: "btn search-button" %>
            </div>
          <% end %>
        </div>
      <% end %>
      <br>

      <div class="posts">
        <table class='table table-hover'>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td>
                  <span class="image">
                    <% if post.post_image.attached? %>
                      <%= link_to public_post_path(post), class: 'side-nav-item' do %>
                        <%= image_tag url_for(post.post_image), size: "250x200" %>
                      <% end %>
                    <% else %>
                      <%= link_to public_post_path(post), class: 'side-nav-item' do %>
                        <%= image_tag 'noimage.png', size: "250x200" %>
                      <% end %>
                    <% end %>
                  </span>
                  </td>
                  <td class="post-info">
                  <span>
                    <br>
                    <br>
                  </span>
                  <span class="">
                    <%= link_to public_post_path(post), class: 'btn post-title' do %>
                      <%= post.title %><br>
                    <% end %>
                  </span>
                  <span>
                    <br>
                  </span>
                  <span class="">
                    <%= link_to public_user_path(post.user.id), class: 'btn post-user' do %>
                      <%= post.user.name %>
                    <% end %>
                  </span>
                  <span>
                    <br>
                  </span>
                  <span class="post-tags">
                    <%=  %>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>
