<%= stylesheet_link_tag 'index_feed_styles' %>

<div class="container">
	<div class="row">

    <div class="col-3 sidebar"> <!-- サイドバー -->  
      <div class="sidebar-item">
        <ul class="side-nav me-auto mb-2 mb-lg-0,">
          <li>
            <%= link_to public_posts_path, class: 'side-nav-item' do %>
              My Page
            <% end %>
            </li>
            <li>
              <%= link_to following_feed_public_posts_path, class: 'side-nav-item' do %>
                Preference
              <% end %>
            </li>
            <li>
              <%= link_to following_feed_public_posts_path, class: 'side-nav-item' do %>
                Bookmark
              <% end %>
            </li>
            <li>
              <%= link_to following_feed_public_posts_path, class: 'side-nav-item' do %>
                Calender
              <% end %>
            </li>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-9 main-content"> <!--メイン-->
      <table class='table table-hover'>
      </table>
    </div>
  </div>
</div>
