<!DOCTYPE html>
<html>
  <head>
    <title>PFRetrogia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/2e273f30f7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="row">
            <div class="col d-flex align-items-center">
              <a class="navbar-brand " href="/">
                <%= image_tag("logo.png", alt: "Logo", width: 200, height: 75, class: "d-inline-block align-text-top mr-2") %>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>

            <div class="col">
              <div class="row">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ", style="padding-left: 10px;">
                      <%= link_to 'About', about_path, class: 'nav-btn' %>
                    </li>
                    <li class="nav-item ", style="padding-left: 10px;">
                      <%= link_to '投稿一覧', about_path, class: 'nav-btn' %>
                    </li>
                    <li class="nav-item ", style="padding-left: 10px;">
                      <%= link_to 'Log in', new_user_session_path, class: 'nav-btn' %>
                    </li>
                    <li class="nav-item ", style="padding-left: 10px;">
                      <%= link_to 'Sing up', new_user_registration_path, class: 'nav-btn' %>
                    </li>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    </header>

    <%= yield %>

  </body>
</html>
