<!DOCTYPE html>
<html>
  <head>
    <title>PFRetrogia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/2e273f30f7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="row">
            <div class="col-1 d-flex align-items-center">
              <%= link_to root_path do %>
                <%= image_tag("logo.png", alt: "Logo", width: 200, height: 75, class: "d-inline-block align-text-top mr-2") %>
              <% end %>
            </div>

            <div class="col-3">
            </div>

            <div class="col-8 text-center">
              <div class="row">
                <div class="collapse navbar-collapse " id="navbarNavDropdown">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ", style="padding-left: 10px;">
                      <%= link_to 'About', about_path, class: 'nav-btn text-dark', style: 'font-size: 20px;' %>
                    </li>
                    <li class="nav-item ", style="padding-left: 10px;">
                      <%= link_to '投稿一覧', about_path, class: 'nav-btn text-dark', style: 'font-size: 20px;' %>
                    </li>
                    <li class="nav-item ", style="padding-left: 10px;">
                      <%= link_to 'Log in', new_user_session_path, class: 'nav-btn text-dark', style: 'font-size: 20px;' %>
                    </li>
                    <li class="nav-item ", style="padding-left: 10px;">
                      <%= link_to 'Sing up', new_user_registration_path, class: 'nav-btn text-dark', style: 'font-size: 20px;' %>
                    </li>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    </header>

    <%= yield %>

  <%= render 'layouts/footer' %>

  </body>
</html>
